		body{ /*padding de body*/
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;
		}
        * { /*bloqueo botones mouse*/
          user-select: none;
          }
         *::selection { /*botones mouse*/
           background: none;
          }
         *::-moz-selection { /*bloqueo botones mouse*/
           background: none;
          }
		.encabeza{ /* estilo a encabezado web*/
			background-color: #3BA3E2;
      color: white;
      border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
		}
		.texto-justo{ /*justifica contenido*/
			text-align: justify;
            text-justify: inter-word;
		}
		.linea-simple { /*decoracion texto*/
           text-decoration-line: underline;
           text-decoration-style: solid;
        }

       .doble-linea { /*decoraciontexto*/
           text-decoration-line: underline;
           text-decoration-style: double;
        }
        div.figure { /*animacion si es util*/
           width: 150px;
           height: 150px;
           background: navy;
           position: relative;
           animation: mymove 5s infinite;
           animation-delay: 2s;
           border-radius: 10px 10px 10px 10px;
           -webkit-border-radius: 10px 10px 10px 10px;
           -moz-border-radius: 10px 10px 10px 10px;
        }


       @keyframes mymove { /*animacion ajustes*/
        from {left: 0%;}
        to {left: 65%;}
        }
        
        .centradodiv{ /*centrado texto y div*/
        	align-self: center;
        	text-align: center;
        }
        .capitalizado:first-letter{ /*primera letra <p>*/
          font-size:150%;
          float:left;
          font-family: arial black;
          color:navy;
        }
       #timequiz{ /*ajustes tiempo*/
        color: black;
       }

